* {
    margin: 0;
    box-sizing: border-box;
}

.section1 {
    background-color: coral;
    color: #fff;
    flex: 1;
    height: 250px;
}

.section2 {
    background-color: cornflowerblue;
    height: 250px;
    flex: 4;
}

.section3 {
    background-color: crimson;
    height: 250px;
    flex: 1;
}

.main {
    display: flex;
    border: 1px solid #000;
    height: 500px;
}

.main-column {
    display: flex;
    border: 1px solid #fff;
    height: 500px;
    flex-direction: column;
}

.section4 {
    flex: 1;
    background-color: crimson;
    width: 500px;
}

.section5 {
    flex: 4;
    background-color: darkgoldenrod;
    width: 500px;
}

.section6 {
    background-color: dodgerblue;
    flex: 1;
    width: 500px;
}