* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
}

main {
    width: 600px;
    height: 600px;
    border: 1px solid #000;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

main div {
    width: 100px;
    height: 50px;
    margin: 20px;
}

main div:nth-child(even) {
    background-color: tomato;
}

main div:nth-child(odd) {
    background-color: teal;
}